html { 
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
}
      
body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}
      
#map-canvas { 
    height: 85%;
    width: 100%;
    display: block;
}

h1 {
	text-align: center;
	margin: 2%;
	font-size: 2.5em;
}

.clicked {
	font-weight: bold;
	background-color: white !important;
}

#button {
	text-align: center;
	margin: 0 0 2% 47%;
	width: 80px;
	height: auto;
	font-size: 2em;
	cursor: pointer;
	background-color: #1abc9c;
}
